@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
    font-family: 'Asap', sans-serif;
    padding: 0px;
    margin: 0px;
}

.title {
    font-family: "DM Mono", monospace;
    margin: 20px;
    font-size: 2.6rem;
    font-weight: bold;
}

.padding {
    margin-left: 8vw;
}

.input {
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid black;
}

.inputBtn {
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid black;
}

.inputBtn:hover {
    background-color: #E8F0FE;
}

.out {
    margin-top: 15px;
    margin-bottom: 25px;
}

.out span {
    font-size: 1.2rem;
}

.copy {
    margin-left: 10px;
    padding: 5px;
}

.time {
    font-size: 1.2rem;
    display: inline;
}

.time button {
    padding: 3px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid black;
}

.time button:hover {
    background-color: #E8F0FE;
}

.divider h2 {
    margin-top: 15px;
}

.divider div {
    margin-bottom: 15px;
    border-top: 1px solid black;
    margin-right: 8vw;
}

.info {
    font-size: 1.2rem;
}

.inputfield div label {
    display: block;
    border-radius: 5px;
    pointer-events: none;
    margin: 5px;
}
.inputfield div{
    position: relative;
    display: inline-block;
}

.smallInput {
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    position: relative;
}

.big {
    min-width: 3rem;
}

.code {
    font-family: "DM Mono", monospace;
    margin: 10px;
}

.otherLang span {
    display: block;
}

footer {
    margin-left: 8vw;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.1rem;
}
footer div{
    margin-right: 10px;
    display: inline-block;
}