@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
    font-family: 'Asap', sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
}

.left-margin {
    margin-left: 15px;
}

.navContainer {
    margin-top: 1vh;
    margin-left: 1vw;
    display: inline-block;
}

.nav {
    font-size: 1.6em;
    color: blue;
    text-decoration: underline solid;
}

.nav:hover {
    text-decoration: none;
}

.link {
    font-size: 1.3em;
    color: blue;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-bottom: 10px;
}

.heading {
    color: blue;
    text-align: center;
    font-size: 2.5em;
    margin-top: 30vh;
}

.paragraph {
    color: blue;
    text-align: center;
    font-size: 1.5em;
}

.share h4 {
    color: blue;
    display: block;
    text-align: center;
    font-size: 1.7em;
    margin-top: 5vh;
}

.copy {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: none;
    background-color: blue;
    color: white;
    padding: 6px;
    font-size: 1.4em;
    border-radius: 5px;
    transition: transform 300ms ease-in-out 25ms;
}

.copy:hover {
    background-color: #4040df;
    transform: translate(0, 2px);
}

.copy:active {
    background-color: #4b4bbd;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    top: 1;
    bottom: 0;
    padding-bottom: 2px;
}

.noScript {
    color: red;
}