@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
* {
    font-family: 'Andika New Basic', sans-serif;
    padding: 0px;
    margin: 0px;
    color: var(--color);
}

body {
    background-color: var(--bg);
}

::selection {
    background-color: #a4b2df;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

 ::-webkit-scrollbar-thumb {
    background: #777;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #999;
}

:root {
    --color: black;
    --bg: whitesmoke;
    --line-bg: #dfe3f0;
    --size-small: 1.3rem;
    --size-medium: 1.5rem;
    --size-large: 2.6rem;
    --border: 1px solid #5353530a;
    --hover-border: 1px solid #dfe3f0;
    --border-radius: 5px;
    --hover-bg: #dfe3f0;
    --button-color: black;
    --button-bg: #00000000;
    --input-width: 14.5rem;
}

button, input[type=submit], a {
    padding: 5px;
    background-color: var(--button-bg);
    border-radius: 5px;
    font-size: var(--size-small);
    cursor: pointer;
    border: var(--border);
    color: var(--button-color);
    margin: 5px;
    margin-left: 0px;
    text-decoration: underline;
}

button:hover, input[type=submit]:hover, a:hover {
    border: var(--hover-border);
    background-color: var(--hover-bg);
}


input[type=text] {
    border: var(--hover-border);
    border-radius: 5px;
    padding: 5px;
    font-size: var(--size-small);
    width: var(--input-width);
    background-color: var(--bg);
    font-family: 'Dela Gothic One', cursive;
}

.alert {
    padding: 20px;
    background-color: var(--button-bg);
    color: var(--button-color);
    position: absolute;
    bottom: 0;
    top: 1;
    border-radius: 10px 10px 0 0;
    border: var(--border);
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: fixed;
    display: flex;
}

.alert {
    display: none;
    transition: opacity 0.6s;
}

.alertBtn {
    margin-right: 15px;
    color: var(--button-color);
    font-weight: bold;
    float: right;
    font-size: var(--size-small);
    cursor: pointer;
} 

.inlineOut {
    display: inline-flex;
    vertical-align: top;
}

.inlineIn {
    display: inline-flex;
    vertical-align: top;
}

.maxSmall {
    padding-right: 20%;
}

.maxBig {
    min-width: 40vw;
}

.title {
    margin-left: -6vw;
    font-family: 'Dela Gothic One', cursive;
    font-size: var(--size-large);
    font-weight: bold;
}

.padding {
    margin-left: 8vw;
}

.title a{
    font-family: 'Dela Gothic One', cursive;
    color: var(--color);
    text-decoration: none;
    background-color: #ffffff00;
    border: none;
    font-size: var(--size-large);
}
.title:hover a{
    text-decoration: underline 2px solid var(--color);
}

.input {
    padding: 5px;
    font-size: var(--size-small);
    border-radius: 5px;
    border: var(--border);
}

.out {
    margin-top: 15px;
    margin-bottom: 25px;
}

.out span {
    font-size: var(--size-small);
}

.copy {
    margin-left: 10px;
    padding: 5px;
}

.time {
    font-size: var(--size-small);
    display: inline;
}

.divider h2 {
    margin-top: 15px;
}

.divider div {
    margin-bottom: 15px;
    border-top: var(--border);
    margin-right: 8vw;
    background-color: var(--line-bg);
}

.info {
    font-size: var(--size-small);
}

.inputfield div label {
    display: block;
    border-radius: 5px;
    pointer-events: none;
    margin: 5px;
}
.inputfield div{
    position: relative;
    display: inline-block;
}



.big {
    min-width: 3rem;
}

.code {
    font-family: "DM Mono", monospace;
    margin: 10px;
}

.otherLang span {
    display: block;
}

footer {
    margin-left: 8vw;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: var(--size-small);
}
footer div{
    margin-right: 10px;
    display: inline-block;
}

#r{
    border: 1px solid red;
}
#g{
    border: 1px solid green;
}
#b{
    border: 1px solid blue;
}

.blogTitle{
    font-size: var(--size-medium);
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Dela Gothic One', cursive;
}