@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
* {
    font-family: 'Andika New Basic', sans-serif;
    padding: 0px;
    margin: 0px;
}

:root {
    --color: #000;
    --bg: #fff;
    --size-small: 1.1rem;
    --size-medium: 1.4rem;
    --size-large: 2.6rem;
    --border: 1px solid #000;
    --border-radius: 5px;
    --hover-bg: #E8F0FE;
}

.link {
    text-decoration: none;
    color: var(--color);
    font-size: var(--size);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0px 10px 0px 10px;
}

.link:hover {
    text-decoration: underline;
    background-color: var(--hover-bg);
}

.title {
    font-family: "DM Mono", monospace;
    margin: 20px;
    font-size: var(--size-large);
    font-weight: bold;
}

.title a{
    color: var(--color);
    text-decoration: none;
}
.title:hover a{
    text-decoration: underline;
}

.padding {
    margin-left: 8vw;
}

.input {
    padding: 5px;
    font-size: var(--size-small);
    border-radius: 5px;
    border: var(--border);
}

.inputBtn {
    padding: 5px;
    background-color: var(--bg);
    border-radius: 5px;
    font-size: var(--size-small);
    cursor: pointer;
    border: var(--border);
}

.inputBtn:hover {
    background-color: var(--hover-bg);
}

.out {
    margin-top: 15px;
    margin-bottom: 25px;
}

.out span {
    font-size: var(--size-small);
}

.copy {
    margin-left: 10px;
    padding: 5px;
}

.time {
    font-size: var(--size-small);
    display: inline;
}

.time button {
    padding: 3px;
    background-color: var(--bg);
    border-radius: 5px;
    font-size: var(--size-small);
    cursor: pointer;
    border: var(--border);
}

.time button:hover {
    background-color: var(--hover-bg);
}

.divider h2 {
    margin-top: 15px;
}

.divider div {
    margin-bottom: 15px;
    border-top: var(--border);
    margin-right: 8vw;
}

.info {
    font-size: var(--size-small);
}

.inputfield div label {
    display: block;
    border-radius: 5px;
    pointer-events: none;
    margin: 5px;
}
.inputfield div{
    position: relative;
    display: inline-block;
}

.smallInput {
    padding: 5px;
    font-size: var(--size-small);
    border-radius: 5px;
    border: var(--border);
    width: 5rem;
    text-align: center;
    position: relative;
}

.big {
    min-width: 3rem;
}

.code {
    font-family: "DM Mono", monospace;
    margin: 10px;
}

.otherLang span {
    display: block;
}

footer {
    margin-left: 8vw;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: var(--size-small);
}
footer div{
    margin-right: 10px;
    display: inline-block;
}

#r{
    border: 1px solid red;
}
#g{
    border: 1px solid green;
}
#b{
    border: 1px solid blue;
}